@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="flex-wrapper">
            @TopRow

            <article class="content px-4">
                @Body
            </article>

            <div class="bottom-row px-4">
                Copyright © Bluehill 2024
            </div>
        </div>
    </main>
</div>

@code {
    [Parameter]
    public RenderFragment? TopRow { get; set; }
}
