@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="flex-wrapper">
            <div class="top-row px-4">
                @BeforeHeadLinks
                @foreach (var link in HeadLinks) {
                    <NavLink href="@link.Path">@link.Text</NavLink>
                }
                @AfterHeadLinks
            </div>

            <article class="content px-4">
                @Body
            </article>

            <div class="bottom-row px-4">
                Copyright © Bluehill 2024
            </div>
        </div>
    </main>
</div>

@code {
    [Parameter]
    public RenderFragment? BeforeHeadLinks { get; set; }

    [Parameter]
    public IEnumerable<HeadLink> HeadLinks { get; set; } = Array.Empty<HeadLink>();

    [Parameter]
    public RenderFragment? AfterHeadLinks { get; set; }
}
